.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
  
  .error-message {
    color: red;
  }
  
  a {
    display: block;
    margin-top: 15px;
    color: blue;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  